<nav class="navbar">
  <div class="navbar-row">
    <a href="/" class="home-link">
      <button class="nav-link">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      </button>
    </a>
    <button class="nav-link" routerLink="/category">Sektorët</button>
    <button class="nav-link" routerLink="/product">Produktet</button>
    <button class="nav-link" routerLink="/bill">Faturat</button>
    <button class="nav-link" routerLink="/warehouse">Inventari</button>
  </div>
</nav>
