<div mat-dialog-title>
    <h1>Bill Form</h1>
</div>
<div mat-dialog-content>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="bill.type" name="type">
                <mat-option value="BUY">BUY</mat-option>
                <mat-option value="SELL">SELL</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="bill.date" name="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="selectedCategory" name="category" required>
                    <mat-option *ngFor="let category of categories" [value]="category">
                      {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
</div>
